## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
*.orig

## PROJECT::GENERAL
coverage
rdoc
pkg
scratch_directory
tmp
.yardoc
.rvmrc
.idea

## PROJECT::SPECIFIC
config
config/*.*
pkg
pkg/*.8
doc
doc/*.*
Gemfile.lock
