# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  test:
    name: Ruby ${{ matrix.ruby }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # don't fail all matrix builds if one fails
      matrix:
        ruby:
          - '2.7'
          - '3.0'
          - '3.1'
          - '3.2'
          - '3.3'
          - 'head'
          - truffleruby-head
    continue-on-error: ${{ endsWith(matrix.ruby, 'head') }}
    env:
      BUNDLE_WITHOUT: development
    steps:
    - uses: actions/checkout@v4

    - name: Install ghostscript
      run: |
        sudo apt-get update
        sudo apt-get -y install ghostscript
        which ghostscript

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true # runs 'bundle install' and caches installed

    - name: Run tests
      run: bundle exec rake
